$notch: 30px;

:host {
  display: block;
  position: relative;
  height: 100%;

  mat-sidenav-container {
    height: 100%;

    mat-sidenav-content {
      display: flex;
      flex-direction: column;
    }
  }

  .app-content {
    display: flex;
    position: absolute;
    top: 56px;
    //bottom: 56px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    //overflow-y: scroll;
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-start;

    &__ios {
      top: 56px + $notch;
    }

    &__hide-footer {
      bottom: 0;
    }
  }


}
